// Base styles
// ---------------------------------------/
* {
  box-sizing: border-box;
}

html {
  background: $color-bg-light;
}

body{
  @include serif;
  color: $color-text-primary;
  font-size: 16px;
  line-height: 1.5;
}

.wrapper:before,
.wrapper:after { content:""; display:table; }
.wrapper:after { clear: both; }
.wrapper {
  max-width: $container-width;
  padding: 0 24px;
  margin: 0 auto;
}

::-moz-selection {
    background: $color-selection-bg;
    color: $color-bg-light;
    text-shadow: none;
}
::selection {
    background: $color-selection-bg;
    color: $color-bg-light;
    text-shadow: none;
}